<!DOCTYPE html>
<html>

<head>
     <%- include ('../../partials/head') %>
</head>

<body>
<header>
    <%- include ('../../partials/header') %>
</header>
    <main>


        <section class="create-view-container">
            <h2 class="view-title">Edit Your Personal Recipe</h2>
            <form id="update-form" action="/recipebox/<%= personal.id %>/edit?_method=PUT" method="post">
                <ul>
               
                <li><input  class="recipename" type="text" name="recipeName" value="<%= personal.recipeName %>" placeholder="recipeName"></li>
                <li><input  class="cuisinetype" type="text" name="cuisineType" value="<%= personal.cuisineType %>" placeholder="cuisineType"></li>
                    <li><input  class="mealtype" type="text" name="mealType" value="<%= personal.mealType %>" placeholder="mealType"></li>
                        <li><input  class="dishtype" type="text" name="dishType" value="<%= personal.dishType %>" placeholder="dishType"></li>
                        <li> <input class="ingredient"type="text" name="ingredient" value="<%= personal.ingredient %>" placeholder="ingredient"></li>
                            <li> <button class="update-personal" type="submit">UPDATE YOUR RECIPE</button></li>

            </ul>
            </form>
        </section>

    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>