<!DOCTYPE html>
<html lang="en-us">

<head>
  <%- include ('../../partials/head') %>
</head>

<body>
  <header id="header">
    <%- include ('../../partials/header') %>
  </header>
<div class="showFlow">
  <main id="main-content">
    <% recipes.forEach(recipe => {%>
    <div class="favorite-container">
    
    <img src="<%= recipe.image %>" />
    <p class="favorite-recipename"><%= recipe.recipeName %></p>
    <a href="<%= recipe.url %>"> Go to Recipe</a>
    <p>Cuisine Type: <%= recipe.cuisineType %></p>
    <p>Yield: <%= recipe.yield %></p>
    <form action="/recipe/<%= recipe.recipeName %>" method="POST">
      <input type="hidden" name="recipe" value="<%=JSON.stringify(recipe) %>">
      <input class="recipebox-delete-button" type="submit" value="Details" />
    </form>
    <form action="/favorite" method='POST'>
      <input type="hidden" name="recipe" value="<%=JSON.stringify(recipe) %>">
      <input class="recipebox-delete-button" type="submit" name="favorite" value="Add Favorite">

    </form>
    </div>
    <% }) %>


  </main>
</div>
  <footer id="footer">
    <%- include ('../../partials/footer') %>
  </footer>
</body>

</html>