<!DOCTYPE html>
<html>

<head>
    <%- include ('../../partials/head') %>
</head>

<body>
    <header>
        <%- include ('../../partials/header') %>
    </header>
    <main>
        <section class="detail-view container">
            <ul id="detail-list">
            <section>
                    <img src="<%= recipe.image %>"/>
                    <p class="favorite-recipename"><%= recipe.recipeName %></p>
                    <p>Ingredients: <%= recipe.ingredient %></p>
            </section>
            <section>
                    
                    <ul>
                    <% Object.keys(recipe.totalNutrients).forEach(nutritionLabel => { %>
                        <li class="nutrient"><%=recipe.totalNutrients[nutritionLabel].label + ': ' +  recipe.totalNutrients[nutritionLabel].quantity.toFixed(1) + recipe.totalNutrients[nutritionLabel].unit %></li>
                   <% }) %>
                </ul>  
            </section>   

            </ul>
        </section>
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>