<!DOCTYPE html>
<html>

<head

</head>

<body>
    <main>
        <section class="detail-view container">
            <ul id="detail-list">
            <section>
                    <img src="<%= recipe.image %>"/>
                    <p><%= recipe.recipeName %></p>
                    <p><%= recipe.ingredient %></p>
            </section>
            <section>
                    <!-- <p><%= recipe.calories %></p> -->
                    <ul>
                    <% Object.keys(recipe.totalNutrients).forEach(nutritionLabel => { %>
                        <li><%=recipe.totalNutrients[nutritionLabel].label + ': ' +  recipe.totalNutrients[nutritionLabel].quantity.toFixed(1) + recipe.totalNutrients[nutritionLabel].unit %></li>
                   <% }) %>
                </ul>  
            </section>        

            </ul>
        </section>
    </main>
</body>

</html>