  
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <%- include ('../../partials/head') %>
  </head>
<body>
  <header id="header">
    <%- include ('../../partials/header') %>
    <h1>you have: <%= rowcount %> recipe saved</h>
  </header>
  <main>
    <% recipes.forEach(recipe =>{ %>

      <a href="<%= recipe.url %>"> link to the recipe</a>
      <img src="<%= recipe.image %>"/>
      <p><%= recipe.recipename %></p>
      <p><%= recipe.ingredient %></p>
      <form action="/favorite/<%= recipe.id %>?_method=DELETE" method="POST">
        <button>DELETE</button>
    </form>

           <a href="favorite/<%= recipe.id %>/edit">EDIT</a>

  <%})%>   

  </main>
  <footer id="footer">
    <%- include ('../../partials/footer') %>
  </footer>
</body>
</html>