  
<!DOCTYPE html>
<html lang="en-us">
  <head>
    <%- include ('../../partials/head') %>
  </head>
<body>
  <header id="header">
    <%- include ('../../partials/header') %>
    <h1>you have: <span><%= rowcount %> </span> recipe saved</h>
  </header>
  <main>
    <% recipes.forEach(recipe =>{ %>
<div  class="favorite-container">
      
      <img src="<%= recipe.image %>"/>
      <p class="favorite-recipename"><%= recipe.recipename %></p>
      <a href="<%= recipe.url %>"> link to the recipe</a>
      

      <% const ingredientList = JSON.parse(recipe.ingredient) %>
      <ul>
        <% ingredientList.forEach(ingredient => { %>
            <li><%= ingredient %></li>
        <% }) %>
      </ul>
 

      <form action="/favorite/<%= recipe.id %>?_method=DELETE" method="POST">
        <button class="recipebox-delete-button" >DELETE</button>
    </form>

           <a class ="recipeboxedit-button"  href="favorite/<%= recipe.id %>/edit">EDIT</a>
  </div>
  <%})%>   

  <form action="/favorite/filter" method='POST'>
    <select name="healthLabels" >
          <option value="balanced">vegan</option>
          <option value="vegetarian">vegetarian</option>
          <option value="paleo">paleo</option>
          <option value="dairy-free">dairy-free</option>
          <option value="gluten-free">gluten-free</option>
          <option value="wheat-free">wheat-free</option>
          <option value="high-fiber">fat-free</option>
          <option value="Snacks">low-sugar</option>
          <option value="egg-free">egg-free</option>
          <option value="peanut-free">peanut-free</option>
          <option value="tree-nut-free">tree-nut-free</option>
          <option value="soy-free">soy-free</option>
          <option value="fish-free">fish-free</option>
          <option value="shellfish-free">shellfish-free</option>
    </select>
    <input type="submit" value='filter'>
</form> 

  </main>
  <footer id="footer">
    <%- include ('../../partials/footer') %>
  </footer>
</body>
</html>