<!DOCTYPE html>
<html>

<head>
    <%- include ('../../partials/head') %>
</head>
    

<body>
    <header>
        <%- include ('../../partials/header') %>
        <h1>you have: <span> <%= count %> </span>  recipe saved</h>
    </header>
   
    <main>
       
<section class="recipe-box-container">
     <h2 class="recipebox-h3">Your Personal Recipes </h2>
        <% recipes.forEach(personalRecipe =>{ %>
         <div class="one-recipe-box">
             <ul>
           <li> <p class="recipename"><%= personalRecipe.recipename %></p></li>
           <li><p class="cuisinetype"><%= personalRecipe.cuisinetype %></p></li>
           <li><p class="mealtype"><%= personalRecipe.mealtype %></p></li>
           <li> <p class="dishtype"><%= personalRecipe.dishtype %></p></li>
           <li> <p class="ingredient"><%= personalRecipe.ingredient %></p></li>
        
            <form  action="/recipebox/<%=personalRecipe.id %>?_method=DELETE" method="POST">
                <li><button class="recipebox-delete-button">DELETE</button></li>
            </form>

            <li><a class ="recipeboxedit-button" href="recipebox/<%= personalRecipe.id %>/edit">EDIT</a></li>
        </ul>
        </div>  
        <%})%>   
    </section>  
    </main>
    <footer>
        <%- include ('../../partials/footer') %>
    </footer>
</body>

</html>