<!DOCTYPE html>
<html lang="en-us">
  <head>

    
  </head>
<body>
  <header id="header">


    
  </header>
  
    <main id="main-content">
    <section>
        <% recipes.forEach(recipe => {%>
            <img src="<%= recipe.image %>"/>
            <p><%= recipe.recipeName %></p>
            <p><%= recipe.cuisineType %></p>
            <p><%= recipe.yield %></p>
            <p><%= recipe.url %></p>
            
            <% }) %>
    </section>
   


  </main>
  </body>
  
   
  <footer id="footer">

   

  </footer>
</html>